body{
    background-color: grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.card{
    width: 450px;
    height: 400px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px white ;
    background-color: bisque;
    
}
h1{
    text-align: center;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 900;
}   
p{
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;

}
.cosial{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
i:hover{
    background-color: green;
}